@font-face {
    font-family: "mundial";
    src: url("../fonts/mundialbold-webfont.woff2") format("woff2"), url("../fonts/mundialbold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "mundial";
    src: url("../fonts/mundiallight-webfont.woff2") format("woff2"), url("../fonts/mundiallight-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "mundial";
    src: url("../fonts/mundialregular-webfont.woff2") format("woff2"), url("../fonts/mundialregular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "mundial";
    src: url("../fonts/mundialsemibold-webfont.woff2") format("woff2"), url("../fonts/mundialsemibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "mundial";
    src: url("../fonts/mundialthin-webfont.woff2") format("woff2"), url("../fonts/mundialthin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

:root {
    --bs-font-sans-serif: "mundial" !important;
    --bs-body-font-weight: 300 !important;
    --headings-font-weight: 600;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px = 1rem */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.2;
}

h1,
h2,
h3,
h4 {
    font-weight: var(--headings-font-weight);
}

a {
    text-decoration: none;
    color: #fff;
    display: flex;
}

.text-thin {
    font-weight: 100;
}

.section {
    background-size: 100% 100%;
    background-position: center center;
    user-select: none;
}

#section-1 {
    background-image: url(../img/background.png);

    .content-section {
        background-color: rgba($color: #1A5957, $alpha: 0.96);
    }
    .left {
        padding: 1rem 7rem;
    }
    .right {
        padding: 1rem 7rem;
        margin-top: 11rem;
    }
    .boton {
        width: 80%;
        padding: 2rem 2rem;
        border-radius: 2rem;
        margin-bottom: 1rem;
        border: 1px solid #52A678;
        transition: background ease-in-out .2s;
        h3 {
            margin: 0;
        }
        .text {
            font-weight: 100;
            background-color: transparent;
        }
        &:hover {
            background-color: #13BF9E;
            color: #fff;
        }
    }
}
#section-2 {
    background-image: url(../img/background-2.png);
}